* {
	font-family: Verdana;
}

h1 {
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.card {
	background-color: rgb(236, 236, 236);
	border-radius: 6px;
}

.card-title {
	margin: 0;
}

.card-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

#enlace{
	display: inline;
	background-color: tomato;
}

.d-block{
	display: block;
}

.d-inline{
	display: inline;
}

.btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 6px;
}

.btn-verde{
	background-color: green;
}

.btn-celeste{
	background-color: lightblue;
}
/* Selectores */
/*
	Nombre de etiqueta
	h1,span,div,table,tr,th..etc

	Clases
	.nombre-clase

	Otro tipo de selector
	id,
 */
 
