* {
	font-family: Verdana;
}

h1 {
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.card {
	background-color: rgb(236, 236, 236);
	border-radius: 6px;
}

.card-title {
	margin: 0;
}

.card-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.card-opc {
	width: 18rem;
	padding: 30px;
	display: flex;
	border-radius: 15px;
	background-color: aliceblue;
	border: 1px solid #ccc;
	margin: 0 10px;
	box-shadow: 0 4px 8px rgba(243, 228, 228, 0.5);

}

.card-container {
	display: flex;
}

.highlighted-container {
	background-color: lightblue; /* Color de fondo del contenedor destacado */
	padding: 20px; /* Espaciado interior del contenedor destacado */
	border-radius: 10px; /* Bordes redondeados */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra */
	
  }

.color-box {
	background-color: #1b2831; /* Color del cuadro encima de las tarjetas */
	padding: 50px;
	border-radius: 10px;
} 

.text-box{
	font-style: unset;
	font-family: 'Courier New', Courier, monospace;
	color: aliceblue;
	background-color: red;
	padding: 2px 4px;
	border-radius: 4px;
}

.body-box{
	background-color: black;
}

.text-center {
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}



#enlace{
	display: inline;
	background-color: tomato;
}


.d-block{
	display: block;
}

.d-inline{
	display: inline;
}

.btn{
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 6px;
}

.btn-verde{
	background-color: green;
}

.btn-celeste{
	background-color: lightblue;
}
/* Selectores */
/*
	Nombre de etiqueta
	h1,span,div,table,tr,th..etc

	Clases
	.nombre-clase

	Otro tipo de selector
	id,
 */
 
